.header {
    margin-bottom: 80px;

    @media (max-width: 1440px) {
        margin-bottom: 64px;
    }

    @media (max-width: 768px) {
        margin-bottom: 48px;
    }
}

.wrapper {
    display: grid;
    grid-gap: 80px;

    @media (max-width: 1440px) {
        grid-gap: 64px;
    }

    @media (max-width: 768px) {
        grid-gap: 48px;
    }
}

.section {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 140px;
    align-items: center;

    @media (max-width: 1440px) {
        grid-gap: 24px;
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-gap: 16px;
    }
}

.image {
    position: relative;
    margin-left: auto;
    height: 400px;
    aspect-ratio: 1.67 / 1;

    @media (max-width: 1440px) {
        height: 200px;
    }

    @media (max-width: 768px) {
        margin-left: 0;
        grid-row-start: 1;
    }
}

.content {
    position: relative;
    padding-left: 115px;
    display: flex;
    flex-direction: column;

    @media (max-width: 1440px) {
        padding-left: 0;
    }
}

.number {
    position: absolute;
    top: 12px;
    left: 0;

    @media (max-width: 1440px) {
        position: relative;
        top: 0;
        margin-bottom: 16px;
    }

    @media (max-width: 768px) {
        margin-bottom: 8px;
    }
}

.title {
    margin-bottom: 16px;

    @media (max-width: 768px) {
        margin-bottom: 8px;
    }
}

.paragraph {
    margin-bottom: 48px;

    @media (max-width: 1440px) {
        margin-bottom: 32px;
    }

    @media (max-width: 768px) {
        margin-bottom: 24px;
    }
}

.actions {
    display: flex;
    align-items: center;
    gap: 16px;
}

.tag {
    padding: 8px 24px;
    border: 1px solid #9EE970;
    border-radius: 24px;
}
