.wrapper {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-gap: 116px;

    @media (max-width: 1440px) {
        grid-gap: 64px;
    }

    @media (max-width: 1140px) {
        grid-template-columns: 1fr;
    }

    @media (max-width: 768px) {
        grid-gap: 48px;
    }
}

.content {
    margin-top: 30px;

    @media (max-width: 1140px) {
        margin-top: 0;
    }
}

.item {
    position: relative;
    padding-left: 62px;

    @media (max-width: 1140px) {
        padding-left: 54px;
    }

    @media (max-width: 768px) {
        padding-left: 46px;
    }

    &:nth-of-type(n + 2) {
        margin-top: 64px;

        &:before {
            content: '';
            position: absolute;
            top: -32px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #9EE970;
        }

        @media (max-width: 1140px) {
            margin-top: 48px;

            &:before {
                top: -24px;
            }
        }

        @media (max-width: 768px) {
            margin-top: 32px;

            &:before {
                top: -16px;
            }
        }
    }
}

.counter {
    position: absolute;
    left: 0;
}

.answer {
    margin-top: 16px;
    opacity: .5;

    @media (max-width: 1140px) {
        margin-top: 8px;
    }
}