.page {
    padding-top: 80px;
    padding-bottom: 80px;

    @media (max-width: 1440px) {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    @media (max-width: 768px) {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}

.title {
    margin-bottom: 80px;

    @media (max-width: 1440px) {
        margin-bottom: 64px;
    }

    @media (max-width: 768px) {
        margin-bottom: 48px;
    }
}

.card {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 140px;
    align-items: center;

    @media (max-width: 1440px) {
        grid-gap: 32px;
    }

    @media (max-width: 1140px) {
        grid-template-columns: 1fr;
    }

    &:nth-of-type(n + 2) {
        margin-top: 40px;

        @media (max-width: 1440px) {
            margin-top: 64px;
        }

        @media (max-width: 768px) {
            margin-top: 48px;
        }
    }
}

.contentTitle {
    margin-bottom: 32px;

    @media (max-width: 1440px) {
        margin-bottom: 24px;
    }

    @media (max-width: 768px) {
        margin-bottom: 16px;
    }
}

.paragraph {
    margin-bottom: 32px;

    @media (max-width: 1440px) {
        margin-bottom: 24px;
    }

    @media (max-width: 768px) {
        margin-bottom: 16px;
    }
}

.wrapper {
    margin: 16px 0 32px;
    display: flex;
    align-items: center;
    gap: 16px;

    @media (max-width: 768px) {
        margin: 16px 24px;
    }
}

.hours {
    position: relative;
    padding-left: 24px;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 8px;
        height: 8px;
        background-color: #19AA1E;
        border: 4px solid #F5F5F5;
        border-radius: 50%;
    }
}

.phone {
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: #000000;
    transition: color .3s ease;
    cursor: pointer;

    &:hover {
        color: #19AA1E;
    }

    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 8px;
        background-color: #9EE970;
    }
}

.actions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.image {
    position: relative;
    height: 346px;
    aspect-ratio: 2.26 / 1;
    border-radius: 40px;
    overflow: hidden;

    @media (max-width: 1440px) {
        height: 300px;
    }

    @media (max-width: 768px) {
        width: 100%;
        aspect-ratio: auto;
        border-radius: 36px;
    }

    & > img {
        object-fit: contain;

        @media (max-width: 768px) {
            object-fit: cover;
        }
    }
}

.qrWrapper {
    position: relative;
    height: 346px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 2.26 / 1;
    border-radius: 40px;
    overflow: hidden;
    background-color: #9EE970;

    @media (max-width: 1440px) {
        height: 300px;
    }

    @media (max-width: 768px) {
        width: 100%;
        aspect-ratio: auto;
        border-radius: 36px;
    }
}

.qrImage {
    position: relative;
    width: 264px;
    height: 264px;
    z-index: 1;

    @media (max-width: 1440px) {
        width: 230px;
        height: 230px;
    }
}

.qrImageInner {
    z-index: 1;
}

.qrImageBefore {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 628px;
    height: 420px;

    @media (max-width: 1440px) {
        width: 550px;
        height: 370px;
    }

    @media (max-width: 768px) {
        transform: translate(-50%, -47%);
        width: 471px;
        height: 330px;
    }
}
