.wrapper {
    cursor: pointer;
}

.field {
    position: relative;
    display: flex;
    gap: 16px;
}

.disabled {

}

.hidden {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox {
    position: relative;
    width: 24px;
    height: 24px;
}

.error {
    margin-top: 4px;
    color: #F17D7D;
}
