.modal {
    max-width: 500px;

    @media (max-width: 1440px) {
        max-width: 450px;
    }
}

.title {
    margin-bottom: 16px;
}

.paragraph {
    margin-bottom: 32px;

    @media (max-width: 1440px) {
        margin-bottom: 24px;
    }
}

.fields {
    margin-bottom: 32px;
    display: grid;
    grid-gap: 16px;

    @media (max-width: 1440px) {
        margin-bottom: 24px;
    }
}

.action {
    margin-bottom: 24px;
}