@font-face {
    font-family: 'font-hoves';
    src: url('fonts/TT_Hoves_Pro_Medium.woff') format('woff'), url('fonts/TT_Hoves_Pro_Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'font-hoves-expanded';
    src: url('fonts/TT_Hoves_Pro_Expanded_Medium.woff') format('woff'), url('fonts/TT_Hoves_Pro_Expanded_Medium.woff2') format('woff2'), url('fonts/TT_Hoves_Pro_Expanded_DemiBold.woff') format('woff'), url('fonts/TT_Hoves_Pro_Expanded_DemiBold.woff2') format('woff2');
}

:root {
    --color-accent: #9EE970;
    --font-hoves: 'font-hoves', sans-serif;
    --font-hoves-expanded: 'font-hoves-expanded', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    font-family: var(--font-hoves);
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    padding-left: 40px;
    padding-right: 40px;

    @media (max-width: 768px) {
        padding-left: 24px;
        padding-right: 24px;
    }
}