.wrapper {
    background-color: #000000;
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;

    @media (max-width: 768px) {
        padding-bottom: 24px;
    }
}

.content {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-gap: 140px;

    @media (max-width: 1440px) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 24px;
    }

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 64px;
    }
}

.logo {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (max-width: 1440px) {
        margin-bottom: calc(64px - 24px);
        grid-column-start: 1;
        grid-column-end: 3;
        flex-direction: row;
        align-items: center;
    }

    @media (max-width: 768px) {
        margin-bottom: 0;
    }
}

.title {
    margin-bottom: 40px;
    color: #FFFFFF;

    @media (max-width: 768px) {
        margin-bottom: 24px;
    }
}

.sectionLink {
    color: #FFFFFF;
    opacity: .5;
    text-decoration: none;
    transition: color .3s ease, opacity .3s ease;

    &:hover {
        color: #9EE970;
        opacity: 1;
    }

    &:nth-of-type(n + 2) {
        margin-top: 8px;
    }
}

.sectionTitle {
    margin-bottom: 16px;
    color: #9EE970;
    opacity: 1;
}

.disabled {
    opacity: .2;
}

.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px 24px;
    grid-auto-flow: row dense;
}

.section {
    display: flex;
    flex-direction: column;
}

.subSection {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.address {
    margin-bottom: 72px;
    color: #FFFFFF;

    @media (max-width: 768px) {
        margin-bottom: 64px;
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}

.hours {
    position: relative;
    padding-left: 24px;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 8px;
        height: 8px;
        background-color: #19AA1E;
        border: 4px solid #FFFFFF;
        border-radius: 50%;
    }
}

.hoursWrapper {
    margin: 16px 0 32px;
    display: flex;
    align-items: center;
    gap: 16px;

    @media (max-width: 768px) {
        margin: 16px 0 24px;
    }
}

.phone {
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: #9EE970;
    transition: color .3s ease;
    cursor: pointer;

    &:hover {
        color: #FFFFFF;
    }
}

.actions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.basement {
    margin-top: 120px;
    padding-top: 24px;
    display: flex;
    align-items: center;
    gap: 64px;
    border-top: 1px solid #FFFFFF;

    @media (max-width: 768px) {
        margin-top: 64px;
        padding-top: 16px;
        gap: 8px;
        flex-direction: column;
        align-items: flex-start;
    }
}

.year {
    color: #FFFFFF;
}

.fileLink {
    text-decoration: none;
    color: #FFFFFF;
    opacity: .5;
}

.mention {
    margin-left: auto;
    display: flex;
    align-items: center;
    color: #FFFFFF;

    @media (max-width: 768px) {
        margin-top: 8px;
        margin-left: 0;
    }
}

.mentionLink {
    color: #9EE970;
    text-decoration: none;
}

.menu {
    @media (max-width: 1024px) {
        display: none;
    }
}
