.title {
    margin-bottom: 80px;

    @media (max-width: 1440px) {
        margin-bottom: 64px;
    }

    @media (max-width: 768px) {
        margin-bottom: 48px;
    }
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 64px;

    @media (max-width: 1140px) {
        grid-template-columns: 1fr;
    }

    @media (max-width: 768px) {
        grid-gap: 48px;
    }
}

.item {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (max-width: 1140px) {
        flex-direction: row-reverse;
        align-items: center;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }
}

.itemContent {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (max-width: 768px) {
        gap: 8px;
    }
}

.image {
    position: relative;
    margin-bottom: 24px;
    aspect-ratio: 1.46 / 1;

    @media (max-width: 1140px) {
        width: 333px;
        min-width: 333px;
        margin-bottom: 0;
    }
}